In [1]:
import os

repo_dir = os.environ.get("REPO_DIR")
code_dir = os.path.join(repo_dir, "code/")
data_dir = os.path.join(repo_dir, "data/")

os.chdir(code_dir)

import geopandas as gpd
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd

import os
import shutil


import sys


from mosaiks.label_utils.utils import geopandas_shape_grid, box_grid, assign_grid_points_to_gpdFile, get_dense_grid_for_gpdf_file
from mosaiks.label_utils.plotting_utils import plot_label_map_hist

# HDI data (Smits et al)

**Data Download:**

*Shapefiles and tabular data are separate downloads*

*Files downloaded on July 17, 2023:*

Tabular data:
https://globaldatalab.org/mygdl/downloads/


https://globaldatalab.org/asset/394/SHDI-SGDI-Total%207.0.csv

We are using the SHDI V7.0data in this analysis. The full database is downloaded from the link above. Version history is [here](https://globaldatalab.org/shdi/archive/).


*A previous version of this manuscript used the V4 version of these labels.*


Shapefiles:
https://globaldatalab.org/shdi/shapefiles/

https://globaldatalab.org/asset/403/GDL%20Shapefiles%20V6.1.zip

We use the neweset shapefile available on July 17, 2023. This is the `GDL Shapefiles V6.1`. This file is NOT included in the GitHub repository and must be downloaded to replicate our data cleaning.



**Data Citation**

Smits, J., Permanyer, I. The Subnational Human Development Database. Sci Data 6, 190038 (2019). https://doi.org/10.1038/sdata.2019.38

**Corresponding paper:**

https://www.nature.com/articles/sdata201938


**Abstract**

In this paper we describe the Subnational Human Development Database. This database contains for the period 1990–2017 for 1625 regions within 161 countries the national and subnational values of the Subnational Human Development Index (SHDI), for the three dimension indices on the basis of which the SHDI is constructed – education, health and standard of living --, and for the four indicators needed to create the dimension indices -- expected years of schooling, mean years of schooling, life expectancy and gross national income per capita. The subnational values of the four indicators were computed using data from statistical offices and from the Area Database of the Global Data Lab, which contains indicators aggregated from household surveys and census datasets. Values for missing years were estimated by interpolation and extrapolation from real data. By normalizing the population-weighted averages of the indicators to their national levels in the UNDP-HDI database, values of the SHDI and its dimension indices were obtained that at national level equal their official versions of the UNDP.


**Data sources**

Three major data sources were used to create our SHDI database. We approached statistical offices, including Eurostat, the statistical office of the European Union (https://ec.europa.eu/eurostat), by email communication or visiting their websites to obtain data. We downloaded data from the Area Database of the Global Data Lab (https://www.globaldatalab.org). And we downloaded data from the HDI website of the Human Development Report Office of the United Nations Development Program (http://hdr.undp.org). In the ‘SHDI Start’ data file (Data Citation 1), for each country information is provided on the data source(s) used for the subnational values of the indicators. In this file also for each country the years for which data is available, the number of subnational regions and the population size is presented. Below we discuss the three main data sources in more detail.


## Read in shape files

In [2]:
directory = data_dir + "raw/GDL_HDI/"
out_directory = data_dir + "int/GDL_HDI/"

## This file MUST be downloaded from the link above and placed in the correct subdirectory


shp_path = directory+"GDL_Shapefiles_V6.1/shdi2022_World_large.shp"

if os.path.exists(shp_path):
    print("reading shp")
    gpdf = gpd.read_file(shp_path)
    
elif os.path.exists(directory+"GDL Shapefiles V6.1.zip"):
    print("unzipping file")
    try:
        os.mkdir(directory+"/GDL_Shapefiles_V6.1/")
    except:
        shutil.unpack_archive(directory+"GDL Shapefiles V6.1.zip", directory+"/GDL_Shapefiles_V6.1")
else:
    print("Shapefile needs to be downnloaded and placed in the correct directory. See details above.")

reading shp

In [3]:
gpdf.rename(columns = {"gdlcode":"GDLcode"}, inplace=True) #Revert to an older name convention

In [4]:
gpdf[gpdf["GDLcode"].isnull()]  # No null GDLcodes

Empty GeoDataFrame
Columns: [GDLcode, continent, iso_code, geometry]
Index: []

In [5]:
gpdf.set_index("GDLcode", inplace=True)
gpdf.loc["BHRt","iso_code"] = "BHR" # Fix weird anomaly in shapefile
gpdf.loc[gpdf.index.str.startswith("CUB"),"iso_code"] = "CUB" # fix missing iso code or Cuba
gpdf["iso_code"] = gpdf["iso_code"].replace("XKO","KSV")

In [6]:
nulls = gpdf[gpdf["iso_code"].isnull()] # Make a df of remaining null values in the country code

gpdf.dropna(subset = ["iso_code"],inplace=True)

### Let's make and save a country aggregated version of this shapefiile -- it will be useful later

In [7]:
# gpdf_country = gpdf.dissolve("iso_code")
# gpdf_country.to_pickle(out_directory + "/HDI_ADM0_dissolved_shapefile.p")

In [8]:
gpdf_country = pd.read_pickle(out_directory + "/HDI_ADM0_dissolved_shapefile.p")

## Read and clean data files

See above for details on this tabular data download.

In [51]:
data = pd.read_csv(directory + "/SHDI-SGDI-Total 7.0.csv",low_memory = False)

#Subset to only 2019 observations. This is the year for which we have MOSAIKS features
data = data[data["year"] == 2019]

In [40]:
data[data["GDLCODE"].isin(nulls.index)] # None of the remaining null iso codes have matching HDI values

Empty DataFrame
Columns: [iso_code, country, year, GDLCODE, level, region, continent, sgdi, shdi, shdif, shdim, healthindex, healthindexf, healthindexm, incindex, incindexf, incindexm, edindex, edindexf, edindexm, esch, eschf, eschm, msch, mschf, mschm, lifexp, lifexpf, lifexpm, gnic, gnicf, gnicm, lgnic, lgnicf, lgnicm, pop]
Index: []

[0 rows x 36 columns]

In [41]:
rename_dictionary = {"shdi" : "Sub-national HDI",
                    "msch": "Mean years schooling",
                    "esch":"Expected years schooling",
                    "lifexp":"Life expectancy",
                    "gnic": "GNI per capita in thousands of US$ (2011 PPP)",
                    "iso_code": "ISO_Code"}

tasks = list(rename_dictionary.values())[:-1]

data.rename(columns = rename_dictionary, inplace=True)

In [44]:
unneeded_cols = ['sgdi', 'shdif', 'shdim',
       'healthindex', 'healthindexf', 'healthindexm', 'incindex', 'incindexf',
       'incindexm', 'edindex', 'edindexf', 'edindexm', 'eschf',
       'eschm', 'mschf', 'mschm', 'gnicf',
       'gnicm', "lgnic", "lgnicf", "lgnicm", "lifexpf", "lifexpm"]

data.drop(columns = unneeded_cols, inplace=True)

data["ISO_Code"] = data["ISO_Code"].replace("XKO","KSV") # Set ISO code for Kosovo. For our use, first 3 of GDLcode

In [45]:
for task in tasks:
    data[task] = pd.to_numeric(data[task], errors="coerce")

In [46]:
national_data_only_indices = data.groupby("ISO_Code").size()

In [47]:
## Now we want to take the countries where we only have national data and merge those with the dataframe of subnational entities
national_data_only_indices = data.groupby("ISO_Code").size()==1
national_data_only = data.groupby("ISO_Code").first()[national_data_only_indices].reset_index()

subnational_data_only = data[data["level"] == "Subnat"]

df = pd.concat([national_data_only, subnational_data_only])

### Let's inspect the set of countries that do not have subnational province observations

In [17]:
#pd.set_option('display.max_rows', None)
print("Countries that do not have ADM1 child regions:")
national_data_only

Countries that do not have ADM1 child regions:

,ISO_Code,country,year,GDLCODE,level,region,continent,Sub-national HDI,Expected years schooling,Mean years schooling,Life expectancy,GNI per capita in thousands of US$ (2011 PPP),pop
0,AND,Andorra,2019,ANDt,National,Total,Europe,0.873,13.300,10.555,83.004,54465.047,
1,ARE,United Arab Emirates,2019,AREt,National,Total,Asia/Pacific,0.920,15.694,12.694,79.726,68590.901,
2,ATG,Antigua and Barbuda,2019,ATGt,National,Total,America,0.800,14.185,9.294,78.691,20600.959,
3,BHR,Bahrain,2019,BHRt,National,Total,Asia/Pacific,0.882,16.298,10.797,80.019,42664.292,
4,BHS,Bahamas,2019,BHSt,National,Total,America,0.816,12.899,12.642,71.205,34676.990,
5,BRN,Brunei Darussalam,2019,BRNt,National,Total,Asia/Pacific,0.830,14.064,9.180,74.748,63963.475,
6,CYP,Cyprus,2019,CYPt,National,Total,Europe,0.897,15.648,12.362,81.397,39568.032,
7,DMA,Dominica,2019,DMAt,National,Total,America,0.729,13.319,8.142,73.559,12694.121,
8,FSM,Micronesia (Federated States of),2019,FSMt,National,Total,Asia/Pacific,0.633,11.549,7.805,71.077,3937.054,
9,GRD,Grenada,2019,GRDt,National,Total,America,0.800,18.000,9.032,74.863,14983.786,
10,ISL,Iceland,2019,ISLt,National,Total,Europe,0.960,18.000,13.727,82.404,58055.066,
11,ISR,Israel,2019,ISRt,National,Total,Asia/Pacific,0.921,16.051,13.345,82.812,40633.624,
12,KNA,Saint Kitts and Nevis,2019,KNAt,National,Total,America,0.783,15.428,8.663,71.572,26727.539,
13,LIE,Liechtenstein,2019,LIEt,National,Total,Europe,0.940,15.182,12.539,84.309,146186.980,
14,LKA,Sri Lanka,2019,LKAt,National,Total,Asia/Pacific,0.778,14.140,10.631,76.008,12699.552,
15,LUX,Luxembourg,2019,LUXt,National,Total,Europe,0.927,14.398,13.015,82.143,76018.564,
16,OMN,Oman,2019,OMNt,National,Total,Asia/Pacific,0.839,14.311,11.233,78.002,29071.041,
17,QAT,Qatar,2019,QATt,National,Total,Asia/Pacific,0.859,12.308,9.996,80.990,87791.916,
18,SGP,Singapore,2019,SGPt,National,Total,Asia/Pacific,0.943,16.524,11.850,83.758,86601.450,
19,SLB,Solomon Islands,2019,SLBt,National,Total,Asia/Pacific,0.567,10.329,5.712,70.382,2631.842,
20,VCT,Saint Vincent and the Grenadines,2019,VCTt,National,Total,America,0.769,14.672,10.833,72.835,12269.134,

These are all very small countries and this appears to be reasonable.

### The shapefile is not a perfect match the tabular data

Let's analyze what is missing

#### First, let's inspect the set of countries that cannot be linked to a shapefile primary key

In [18]:
nats_dropped = national_data_only[~national_data_only["GDLCODE"].isin(gpdf.index)]
nats_dropped

,ISO_Code,country,year,GDLCODE,level,region,continent,Sub-national HDI,Expected years schooling,Mean years schooling,Life expectancy,GNI per capita in thousands of US$ (2011 PPP),pop
12,KNA,Saint Kitts and Nevis,2019,KNAt,National,Total,America,0.783,15.428,8.663,71.572,26727.539,

These is a vry small country. Excluding this from our analysis seems reasonable.

#### Second, let's inspect the set of ADM1 polygons that cannot be linked to a shapefile primary key

In [19]:
subnats_dropped = subnational_data_only[~subnational_data_only.GDLCODE.isin(gpdf.index)]
subnats_dropped

,ISO_Code,country,year,GDLCODE,level,region,continent,Sub-national HDI,Expected years schooling,Mean years schooling,Life expectancy,GNI per capita in thousands of US$ (2011 PPP),pop
16648,ESP,Spain,2019,ESPr117,Subnat,Ciudad Autonoma de Ceuta,Europe,0.860,16.890,9.256,80.967,31937.756,
16649,ESP,Spain,2019,ESPr118,Subnat,Ciudad Autonoma de Melilla,Europe,0.855,16.279,9.778,80.967,29234.032,
17659,FJI,Fiji,2019,FJIr101,Subnat,Naitasiri,Asia/Pacific,0.763,15.592,11.294,67.523,14258.554,
17660,FJI,Fiji,2019,FJIr102,Subnat,Rewa,Asia/Pacific,0.754,15.250,11.506,66.789,13270.149,
17661,FJI,Fiji,2019,FJIr103,Subnat,"Serua, Namosi",Asia/Pacific,0.722,13.771,11.143,65.610,11094.674,
17662,FJI,Fiji,2019,FJIr104,Subnat,Tailevu,Asia/Pacific,0.738,14.373,11.378,67.166,11046.140,
17663,FJI,Fiji,2019,FJIr105,Subnat,"Kadavu, Lau, Lomaiviti, Rotuma",Asia/Pacific,0.696,13.143,10.788,65.829,7864.513,
17664,FJI,Fiji,2019,FJIr106,Subnat,"Cakaudrove, Bua",Asia/Pacific,0.701,13.041,10.188,67.279,8670.336,
17665,FJI,Fiji,2019,FJIr107,Subnat,Macuata,Asia/Pacific,0.735,15.348,10.226,65.536,13212.098,
17666,FJI,Fiji,2019,FJIr108,Subnat,Ba,Asia/Pacific,0.751,14.396,10.890,67.926,14686.812,
17667,FJI,Fiji,2019,FJIr109,Subnat,Nadroga or Navosa,Asia/Pacific,0.715,13.753,10.584,66.522,9990.101,
17668,FJI,Fiji,2019,FJIr110,Subnat,Ra,Asia/Pacific,0.692,13.896,9.811,65.015,8539.586,
18526,FRA,France,2019,FRAr125,Subnat,Guadeloupe,Europe,0.856,15.553,10.431,81.431,27981.838,
18527,FRA,France,2019,FRAr126,Subnat,Martinique,Europe,0.851,14.268,10.627,81.730,30629.490,
18529,FRA,France,2019,FRAr128,Subnat,Reunion,Europe,0.846,14.726,10.307,80.933,29569.718,
18938,GAB,Gabon,2019,GABr110,Subnat,Libreville-Port Gentil,Africa,0.747,13.121,10.827,67.694,17711.870,
28604,ITA,Italy,2019,ITAr113,Subnat,Provincia Autonoma di Bolzano,Europe,0.915,15.169,10.723,84.453,71021.271,
31140,KIR,Kiribati,2019,KIRr101,Subnat,Souyth Tarawa,Asia/Pacific,0.659,12.144,8.430,66.410,7367.522,
31141,KIR,Kiribati,2019,KIRr102,Subnat,Northern Gilbert,Asia/Pacific,0.601,11.070,7.358,69.429,3068.425,
31142,KIR,Kiribati,2019,KIRr103,Subnat,Central Gibert,Asia/Pacific,0.580,11.567,7.504,63.849,2872.394,
31143,KIR,Kiribati,2019,KIRr104,Subnat,Southern Gilbert,Asia/Pacific,0.599,11.848,7.384,67.753,2905.746,
31144,KIR,Kiribati,2019,KIRr105,Subnat,Line and Phoenix Group,Asia/Pacific,0.609,10.602,7.710,68.132,3896.136,
32790,LCA,Saint Lucia,2019,LCAr101,Subnat,St Lucia urban,America,0.731,12.472,8.718,73.445,13796.354,
32791,LCA,Saint Lucia,2019,LCAr102,Subnat,St Lucia rural,America,0.736,13.040,8.500,73.445,14532.919,
33793,LVA,Latvia,2019,LVAr102,Subnat,Pieriga region,Europe,0.892,17.743,14.513,76.846,24657.413,
34903,MDV,Maldives,2019,MDVr101,Subnat,Male,Asia/Pacific,0.793,13.498,8.931,79.727,20768.656,
34904,MDV,Maldives,2019,MDVr102,Subnat,North,Asia/Pacific,0.721,11.683,6.246,79.861,15811.064,
34905,MDV,Maldives,2019,MDVr103,Subnat,North Central,Asia/Pacific,0.719,11.342,5.975,81.338,15805.493,
34906,MDV,Maldives,2019,MDVr104,Subnat,Central,Asia/Pacific,0.711,11.380,5.724,80.402,15700.028,
34907,MDV,Maldives,2019,MDVr105,Subnat,South Central,Asia/Pacific,0.727,11.689,6.413,80.416,16103.445,
34908,MDV,Maldives,2019,MDVr106,Subnat,South,Asia/Pacific,0.725,11.834,6.288,79.717,16587.217,
41553,NPL,Nepal,2019,NPLr106,Subnat,Karnali Province,Asia/Pacific,0.558,12.877,3.668,68.625,2473.491,
41554,NPL,Nepal,2019,NPLr107,Subnat,Sudoorpaschim Province,Asia/Pacific,0.582,13.477,4.053,69.136,2981.150,
51721,TON,Tonga,2019,TONr101,Subnat,Tongatapu,Asia/Pacific,0.754,16.195,11.629,70.872,7565.176,
51722,TON,Tonga,2019,TONr102,Subnat,Vava-u,Asia/Pacific,0.732,15.864,10.899,70.872,6228.435,
51723,TON,Tonga,2019,TONr103,Subnat,Ha-apai,Asia/Pacific,0.700,14.941,10.652,70.872,4359.681,
51724,TON,Tonga,2019,TONr104,Subnat,Eua,Asia/Pacific,0.720,14.313,10.827,70.872,6421.404,
51725,TON,Tonga,2019,TONr105,Subnat,Ongo Niua,Asia/Pacific,0.705,16.390,10.271,70.872,4101.594,
52719,TUV,Tuvalu,2019,TUVr101,Subnat,"Nanumea, Nanumaga, Niutao",Asia/Pacific,NaN,7.036,8.893,NaN,4590.569,
52720,TUV,Tuvalu,2019,TUVr102,Subnat,"Vaitupu, Nui, Nukufetau",Asia/Pacific,NaN,7.686,9.578,NaN,5219.808,
52721,TUV,Tuvalu,2019,TUVr103,Subnat,Funafuti,Asia/Pacific,0.656,10.519,11.163,63.875,6430.096,
57327,VUT,Vanuatu,2019,VUTr107,Subnat,Port Vila,Asia/Pacific,0.720,13.647,9.721,69.877,9686.656,
57328,VUT,Vanuatu,2019,VUTr108,Subnat,Luganville,Asia/Pacific,0.704,15.137,8.398,69.877,7362.492,
57493,WSM,Samoa,2019,WSMr101,Subnat,Apia Urban Area,Asia/Pacific,0.745,13.554,12.460,71.644,7748.789,
57494,WSM,Samoa,2019,WSMr102,Subnat,North West Upolu,Asia/Pacific,0.707,12.342,11.176,71.648,6128.216,
57495,WSM,Samoa,2019,WSMr103,Subnat,Rest of Upolu,Asia/Pacific,0.709,12.257,11.245,72.426,6016.935,
57496,WSM,Samoa,2019,WSMr104,Subnat,Savaii,Asia/Pacific,0.703,11.481,11.116,73.127,5969.864,

In [20]:
len(subnats_dropped)

47

Dropping these 47 subnational observations is the best we can do. Some appear quite reasonable (e.g., it probably doesn't make sense to consider Guadeloupe a part of France for the purpose of this analysis).

### Now let's see if there is any data in the shapefile that is missing from the tabular data

In [21]:
print("Shape file obs that don't match tabular data")

gpdf[~gpdf.index.isin(df.GDLCODE)] # Just a few

Shape file obs that don't match tabular data

,continent,iso_code,geometry
GDLcode,,,
CHNr132,Asia/Pacific,CHN,"MULTIPOLYGON (((114.24903 22.15958, 114.24903 ..."
GEOr112,Europe,GEO,"POLYGON ((44.68073 41.70555, 44.68641 41.71712..."
TONt,Asia/Pacific,TON,"MULTIPOLYGON (((-176.20329 -22.33513, -176.203..."
WSMt,Asia/Pacific,WSM,"MULTIPOLYGON (((-171.40791 -14.07395, -171.407..."

In [22]:
n_dropped = len(nats_dropped) + len(subnats_dropped)

## Let's go ahead and subset both of these files to the matching set of indices

In [23]:
df.set_index("GDLCODE", inplace=True)
#gpdf.set_index("GDLcode", inplace=True)

In [24]:
matching_locs = df.index[df.index.isin(gpdf.index)]

In [25]:
df = df.loc[matching_locs]
gpdf = gpdf.loc[matching_locs]

In [28]:
df

,ISO_Code,country,year,level,region,continent,Sub-national HDI,Expected years schooling,Mean years schooling,Life expectancy,GNI per capita in thousands of US$ (2011 PPP),pop
GDLCODE,,,,,,,,,,,,
ANDt,AND,Andorra,2019,National,Total,Europe,0.873,13.300,10.555,83.004,54465.047,
AREt,ARE,United Arab Emirates,2019,National,Total,Asia/Pacific,0.920,15.694,12.694,79.726,68590.901,
ATGt,ATG,Antigua and Barbuda,2019,National,Total,America,0.800,14.185,9.294,78.691,20600.959,
BHRt,BHR,Bahrain,2019,National,Total,Asia/Pacific,0.882,16.298,10.797,80.019,42664.292,
BHSt,BHS,Bahamas,2019,National,Total,America,0.816,12.899,12.642,71.205,34676.990,
...,...,...,...,...,...,...,...,...,...,...,...,...
ZWEr106,ZWE,Zimbabwe,2019,Subnat,Matebeleland South,Africa,0.592,10.989,7.834,65.423,3222.317,
ZWEr107,ZWE,Zimbabwe,2019,Subnat,Midlands,Africa,0.598,12.668,8.492,60.559,3540.908,
ZWEr108,ZWE,Zimbabwe,2019,Subnat,Masvingo,Africa,0.596,12.058,8.013,64.420,3019.013,
ZWEr109,ZWE,Zimbabwe,2019,Subnat,Harare,Africa,0.674,13.156,10.993,62.335,7034.498,
ZWEr110,ZWE,Zimbabwe,2019,Subnat,Bulawayo,Africa,0.703,14.115,10.405,64.784,9141.574,

In [ ]:
df.to_pickle(out_directory + "/HDI_indicators_and_indices_clean.p")
gpdf.to_pickle(out_directory + "/HDI_ADM1_shapefile_clean.p")

#### Also write the national level data

In [33]:
nat_data = data[data["level"] == "National"].set_index("ISO_Code")
nat_data.loc[gpdf_country.index] # Only include countries that also have a shapefile
nat_data.to_pickle(out_directory + "/HDI_indicators_and_indices_adm0_clean.p")

In [34]:
len(matching_locs)

1759

In [35]:
print(round(n_dropped/(len(matching_locs ) + n_dropped),3) * 100, "% of HDI data dropped")

2.7 % of HDI data dropped

##  Transform shapefile to .01 x . 01 degree grid

This is the form needed for aggregating features in the existing feature aggregation pipeline

In [ ]:
gpdf.head()

In [ ]:
# dense_grid = get_dense_grid_for_gpdf_file(gpdf.reset_index(), columns=["GDLCODE", "iso_code"])

In [ ]:
# dense_grid.head()

In [ ]:
# outpath = data_dir + "/features/prepared_labels/GDL_HDI_polygon_coords_for_featurization.p"
# dense_grid["constant"] = 1


# dense_grid.to_pickle(outpath)
# dense_grid = pd.read_pickle(outpath)

Check to see if any polygon observations were dropped. This would occur if they are very small and don't overlay any grid centorids.

In [1]:
# len(dense_grid["GDLCODE"].unique()) == len(matching_locs)